* {
  margin: 0;
  padding: 0;
}

h2 {
  background-color: #000;
  margin: 5px;
  color: #fff;
}

h2::before {
  content: "맛있는";
  padding-right: 5px;
  background-color: red;
  font-size: 0.5em;
}

h2::after {
  content: "김밥";
}
