* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
}

header h1 span {
  color: orange;
}

header h1 {
  color: #fff;
  position: fixed;
  line-height: 100px
}

.wraper ul li {
  list-style: none;
  float: left;
  color: #fff;
  font-weight: bold;
  position: relative;
  left:400px;
  line-height: 100px;
  margin-left: 100px;
}

main .main_img {
  background-image: url("./images/32019960_10riBA2m_20220308112156.jpg");
  width: 100%;
  height: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
}

main .content h2 {
  color: orange;
  font-weight:100;
}

main .content h3 {
color: #fff;
font-weight: bold;
font-size: 50px;
}

main .content p {
  color: #fff;
font-weight: bold;
font-size: 15px;
}


main .content {
  width: 100%;
  height: 300px;
  position: absolute;
  top:400px;
}